@media screen and (max-width: 380px) and (min-width:360px) {
    .navbarx{
        display: inline-block;
    }
    .firstpage{
        z-index: -1;
        height: 800px;
        max-width: 380px;
        left: 0px;
        top: 0px;
    }
    .navbar,.description,.experience,.currently,.preference{
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .port,.folio{
        font-size: 15px;
        position: absolute;
        top: 10px;
        z-index: 0;
      }
      .port{left: 260px;}
      .folio{left: 300px;}

      .ganesh{
        position: absolute;
        left:10px;
        top: 105px;
        width: 160%;
      } 
      .round-rectangle{
        position: absolute;
        left: -30px;
        top: -200px;
        width: 350px;
        height: 50px;
        z-index: -1;
      }
      .hi{
        font-size: 15px;
        position: absolute;
        left: 22px;
        top: 230px;
        font-weight: 500;
      }
      .name{
        font-size: 25px;
        position: absolute;
        left: 20px;
        top: 260px;
        font-weight: 600;
      }
      .containerx {
        max-width: 1000px;
        width: 90%;
        margin: auto;
      }
      
      .navbarx {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      }

      .flexxx{
        position: absolute;
        left: 8px;
        top: 310px;
        min-height: 80vh;
    }

    .dynamic-text li{
        z-index: 2;
        list-style: none;
        font-size: 15px;
        color: rgb(7,30,72);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        animation: slide 8s steps(4) infinite;
        position: relative;
        top: 0;
        width: 500px;
    }
    @keyframes slide{
        100%{
            top: -90px;
        }
    }
    .dynamic-text{
        margin-left: 15px ;
        line-height: 22.5px;
        height: 22.5px;
        overflow: hidden;    
    }
    .dynamic-text li span::after{
        content: "";
        position: absolute;
        height: 130%;
        left: 0;
        width: 100%;
        background: rgb(232,195,240);
        border-left: 2px solid darkblue;
        animation: typing 2s steps(10) infinite;
    }
    .downloadCV{
        width: 55px;
        font-size: 6px;
        height: 32px;
        box-shadow: 5px 5px 2px grey;
        position: absolute;
        left: 20px;
        top: 360px;
    }
    .ContactMe{
        width: 55px;
        font-size: 6px;
        height: 32px;
        box-shadow: 5px 5px 2px grey;
        position: absolute;
        left: 100px;
        top: 361px;
        border: none;
    }
    .fa-computer,.fa-graduation-cap,.fa-house-laptop{
        font-size: 10px;
      }
    .fa-computer{
        position: absolute;
        left: -45px;
        top: -8px;
    }
    .twoyearexp{display: none;}
    .experienceresponsive{
        display: inline;
        font-size: 8px;
        position: absolute;
        left: 25px;
        top: 20px;
        font-family: 'Poppins', sans-serif;
    }
    .borderr1{
        height: 40px;
        position: absolute;
        top: 5px;
        left: 115px;
        border-left: 2px solid  rgb(103,103,103);
    }
    .fa-graduation-cap{
        position: absolute;
        left: 75px;
        top: -10px;
    }
    .undergrad{
        font-size: 10px;
        position: absolute;
        left: 150px;
        top: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .borderr2{
        position: absolute;
        top: 5px;
        left: 225px;
        border-left: 2px solid  rgb(103,103,103);
        height: 40px;
    }
    .fa-house-laptop{
        position: absolute;
        left: 185px;
        top: -10px;
    }
    .work{
        font-size: 10px;
        position: absolute;
        left: 255px;
        top: 16px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
      }
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
      .navbarx .menu-items {
        display: flex;
      }
      
      .navbarx .nav-container li {
        list-style: none;
      }
      
      .navbarx .nav-container a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
      .navbarx .nav-container a:hover{
          font-weight: bolder;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 15px;
        width: 20px;
        position: absolute;
        top: 15px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbarx .menu-items {
        padding-top: 120px;
        /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
        border: 3px solid white;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        z-index: 5;
        background-color: black;
      }
      
      .navbarx .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
      }
      
  }