@media screen and (max-width: 400px) and (min-width:380px) {
    .navbarx{
        display: inline-block;
    }
    .firstpage{
        z-index: -1;
        height: 490px;
        max-width: 400px;
        left: 0px;
        top: 0px;
    }
    .navbar,.description,.experience,.currently,.preference{
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .port,.folio{
        font-size: 15px;
        position: absolute;
        top: 10px;
        z-index: 0;
      }
      .port{left: 260px;}
      .folio{left: 300px;}

      .ganesh{
        position: absolute;
        left:0px;
        top: 105px;
        width: 160%;
      } 
      .round-rectangle{
        position: absolute;
        left: -30px;
        top: -180px;
        width: 380px;
        z-index: -1;
      }
      .hi{
        font-size: 17px;
        position: absolute;
        left: 30px;
        top: 230px;
      }
      .name{
        font-size: 25px;
        position: absolute;
        left: 28px;
        top: 260px;
      }
      .containerx {
        max-width: 1000px;
        width: 90%;
        margin: auto;
      }
      
      .navbarx {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      }

      .flexxx{
        position: absolute;
        left: 15px;
        top: 310px;
        min-height: 80vh;
    }

    .dynamic-text li{
        z-index: 2;
        list-style: none;
        font-size: 20px;
        color: rgb(7,30,72);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        animation: slide 8s steps(4) infinite;
        position: relative;
        top: 0;
        width: 500px;
    }
    @keyframes slide{
        100%{
            top: -120px;
        }
    }
    .dynamic-text{
        margin-left: 15px ;
        line-height: 30px;
        height: 30px;
        overflow: hidden;    
    }
    .dynamic-text li span::after{
        content: "";
        position: absolute;
        height: 130%;
        left: 0;
        width: 100%;
        background: rgb(232,195,240);
        border-left: 2px solid darkblue;
        animation: typing 2s steps(10) infinite;
    }
    .downloadCV{
        width: 65px;
        font-size: 8px;
        height: 32px;
        box-shadow: 5px 5px 2px grey;
        position: absolute;
        left: 30px;
        top: 360px;
    }
    .ContactMe{
        width: 65px;
        font-size: 8px;
        height: 32px;
        box-shadow: 5px 5px 2px grey;
        position: absolute;
        left: 120px;
        top: 360px;
        border: none;
    }
    .fa-computer,.fa-graduation-cap,.fa-house-laptop{
        font-size: 13px;
      }
    .fa-computer{
        position: absolute;
        left: -45px;
        top: -3px;
    }
    .twoyearexp{display: none;}
    .experienceresponsive{
        display: inline;
        font-size: 10px;
        position: absolute;
        left: 25px;
        top: 25px;
        font-family: 'Poppins', sans-serif;
    }
    .borderr1{
        position: absolute;
        top: 5px;
        left: 125px;
    }
    .fa-graduation-cap{
        position: absolute;
        left: 90px;
        top: -3px;
    }
    .undergrad{
        font-size: 10px;
        position: absolute;
        left: 170px;
        top: 25px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .borderr2{
        position: absolute;
        top: 5px;
        left: 245px;
    }
    .fa-house-laptop{
        position: absolute;
        left: 210px;
        top: -3px;
    }
    .work{
        font-size: 10px;
        position: absolute;
        left: 285px;
        top: 25px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
      }
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
      .navbarx .menu-items {
        display: flex;
      }
      
      .navbarx .nav-container li {
        list-style: none;
      }
      
      .navbarx .nav-container a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
      .navbarx .nav-container a:hover{
          font-weight: bolder;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 15px;
        width: 20px;
        position: absolute;
        top: 15px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbarx .menu-items {
        padding-top: 120px;
        /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
        border: 3px solid white;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        z-index: 5;
        background-color: black;
      }
      
      .navbarx .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
      }
      
  }
      /* second page */

      .myintro{
        display: none;
      }
      .border1{
        position: absolute;
        left: 55px;
        top: 224px;
        border-right: 2px solid rgb(67, 167, 255);
        border-bottom: 2px solid rgb(67, 167, 255);
        height: 60px;
        width: 60px;
        z-index: -1;
      }
      .border2{
        position: absolute;
        left: -25px;
        top: 110px;
        border-left: 2px solid rgb(67, 167, 255);
        border-top: 2px solid rgb(67, 167, 255);
        height: 60px;
        width: 60px;
        z-index: -1;
      }
      .Ganesh2{
        width: 130px;
        position: absolute;
        left: -20px;
        top: 115px;
        z-index: -1;
      }
      .AboutMe{
        font-size: 30px;
        position: absolute;
        left: 80px;
        top: -20px;
        z-index: -1;
      }
      .briefintro{
        display: none;
      }
      .briefintroresponsive{
        display: inline;
        position: absolute;
        left: 75px;
        top: 115px;
        font-size: 8px;
        font-family: 'Courier New', monospace;
      }
      .profilephoto,.phonelogo,.emaillogo,.phonetext,.Name-ganesh,.semi1,.GaneshGhatti,.semi2,.phonenumber,.emailtext,.semi3,.emailid,.music,.chess,.editing,.cycle,.fa-headphones,.fa-chess,.fa-video,.fa-bicycle{
        font-size: 8px;
      }
      .profilephoto{
        position: absolute;
        left: 170px;
        top: 835px;
      }
      .phonelogo{
        position: absolute;
        left: 170px;
        top: 860px; 
      }
      .emaillogo{
        position: absolute;
        left: 170px;
        top: 885px;
      }
      .Name-ganesh{
        position: absolute;
        left: 195px;
        top: 835px;
      }
      .phonetext{
        position: absolute;
        left: 195px;
        top: 860px;
      }
      .semi1{
        position: absolute;
        left: 245px;
        top: 835px;
      }
      .GaneshGhatti{
        position: absolute;
        left: 265px;
        top: 835px;
      }
      .semi2{
        position: absolute;
        left: 245px;
        top: 860px;
      }
      .phonenumber{
        position: absolute;
        left: 265px;
        top: 860px;
      }
      .emailtext{
        position: absolute;
        left: 195px;
        top: 885px;
      }
      .semi3{
        position: absolute;
        left: 245px;
        top: 885px;
      }
      .emailid{
        position: absolute;
        left: 265px;
        top: 885px;
      }
      .myintrests{
        font-size: 15px;
        font-weight: 600;
        position: absolute;
        left: 60px;
        top: 940px;
      }
      .fa-headphones{
        position: absolute;
        left: 60px;
        top: 985px;
      }
      .music{
        position: absolute;
        left: 75px;
        top: 985px;
      }
      .fa-chess{
        position: absolute;
        left: 130px;
        top: 985px;
      }
      .chess{
        position: absolute;
        left: 145px;
        top: 985px;
      }
      .fa-video{
        position: absolute;
        left: 190px;
        top: 985px;
      }
      .editing{
        position: absolute;
        left: 215px;
        top: 985px;
      }
      .fa-bicycle{
        position: absolute;
        left: 290px;
        top: 985px;
      }
      .cycle{
        position: absolute;
        left: 305px;
        top: 985px;
      }