@media screen and (max-width: 420px) and (min-width:400px) {
    .navbarx{
        display:inline-block;
    }
    .firstpage{
        z-index: -1;
        height: 545px;
        max-width: 420px;
        left: 0px;
        top: 0px;
    }
    .navbar,.description,.experience,.currently,.preference{
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .port,.folio{
        font-size: 20px;
        position: absolute;
        top: 10px;
        z-index: 0;
      }
      .port{left: 280px;}
      .folio{left: 330px;}

      .ganesh{
        position: absolute;
        left: -40px;
        top: 105px;
        width: 180%;
      } 
      .round-rectangle{
        position: absolute;
        left: -30px;
        top: -120px;
        width: 400px;
        z-index: -1;
      }
      .hi{
        font-size: 17px;
        position: absolute;
        left: 30px;
        top: 230px;
      }
      .name{
        font-size: 25px;
        position: absolute;
        left: 28px;
        top: 260px;
      }
      .containerx {
        max-width: 1000px;
        width: 90%;
        margin: auto;
      }
      
      .navbarx {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      }

      .flexxx{
        position: absolute;
        left: 15px;
        top: 310px;
        min-height: 80vh;
    }

    .dynamic-text li{
        z-index: 2;
        list-style: none;
        font-size: 20px;
        color: rgb(7,30,72);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        animation: slide 8s steps(4) infinite;
        position: relative;
        top: 0;
        width: 500px;
    }
    @keyframes slide{
        100%{
            top: -120px;
        }
    }
    .dynamic-text{
        margin-left: 15px ;
        line-height: 30px;
        height: 30px;
        overflow: hidden;    
    }
    .dynamic-text li span::after{
        content: "";
        position: absolute;
        height: 130%;
        left: 0;
        width: 100%;
        background: rgb(232,195,240);
        border-left: 2px solid darkblue;
        animation: typing 2s steps(10) infinite;
    }
    .downloadCV{
        width: 65px;
        font-size: 8px;
        height: 32px;
        box-shadow: 5px 5px 2px grey;
        position: absolute;
        left: 30px;
        top: 400px;
    }
    .ContactMe{
        width: 65px;
        font-size: 8px;
        height: 32px;
        box-shadow: 5px 5px 2px grey;
        position: absolute;
        left: 120px;
        top: 400px;
        border: none;
    }
    .fa-computer,.fa-graduation-cap,.fa-house-laptop{
        font-size: 13px;
      }
    .fa-computer{
        position: absolute;
        left: -40px;
        top: -3px;
    }
    .twoyearexp{display: none;}
    .experienceresponsive{
        display: inline;
        font-size: 10px;
        position: absolute;
        left: 30px;
        top: 25px;
        font-family: 'Poppins', sans-serif;
    }
    .borderr1{
        position: absolute;
        top: 5px;
        left: 130px;
    }
    .fa-graduation-cap{
        position: absolute;
        left: 100px;
        top: -3px;
    }
    .undergrad{
        font-size: 10px;
        position: absolute;
        left: 180px;
        top: 25px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .borderr2{
        position: absolute;
        top: 5px;
        left: 260px;
    }
    .fa-house-laptop{
        position: absolute;
        left: 230px;
        top: -3px;
    }
    .work{
        font-size: 10px;
        position: absolute;
        left: 310px;
        top: 25px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
      }
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
      .navbarx .menu-items {
        display: flex;
      }
      
      .navbarx .nav-container li {
        list-style: none;
      }
      
      .navbarx .nav-container a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
      .navbarx .nav-container a:hover{
          font-weight: bolder;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 20px;
        width: 25px;
        position: absolute;
        top: 15px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbarx .menu-items {
        padding-top: 120px;
        /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
        border: 3px solid white;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        z-index: 5;
        background-color: black;
      }
      
      .navbarx .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
      }
      

                /* second page */

                .myintro{
                    display: none;
                }
                .border1{
                    position: absolute;
                    left: 60px;
                    top: 257px;
                    border-right: 2px solid rgb(67, 167, 255);
                    border-bottom: 2px solid rgb(67, 167, 255);
                    height: 70px;
                    width: 70px;
                    z-index: -1;
                }
                .border2{
                    position: absolute;
                    left: -20px;
                    top: 140px;
                    border-left: 2px solid rgb(67, 167, 255);
                    border-top: 2px solid rgb(67, 167, 255);
                    height: 70px;
                    width: 70px;
                    z-index: -1;
                }
                .Ganesh2{
                    width: 140px;
                    position: absolute;
                    left: -15px;
                    top: 145px;
                    z-index: -1;
                }
                .AboutMe{
                    font-size: 35px;
                    position: absolute;
                    left: 100px;
                    top: 30px;
                    z-index: -1;
                }
                .briefintro{
                    display: none;
                }
                .briefintroresponsive{
                    display: inline;
                    position: absolute;
                    left: 75px;
                    top: 145px;
                    font-size: 9px;
                    font-family: 'Courier New', monospace;
                }
                .profilephoto,.phonelogo,.emaillogo,.phonetext,.Name-ganesh,.semi1,.GaneshGhatti,.semi2,.phonenumber,.emailtext,.semi3,.emailid,.music,.chess,.editing,.cycle,.fa-headphones,.fa-chess,.fa-video,.fa-bicycle{
                    font-size: 9px;
                }
                .profilephoto{
                    position: absolute;
                    left: 180px;
                    top: 875px;
                }
                .phonelogo{
                    position: absolute;
                    left: 180px;
                    top: 900px; 
                }
                .emaillogo{
                    position: absolute;
                    left: 180px;
                    top: 925px;
                }
                .Name-ganesh{
                    position: absolute;
                    left: 205px;
                    top: 875px;
                }
                .phonetext{
                    position: absolute;
                    left: 205px;
                    top: 899px;
                }
                .semi1{
                    position: absolute;
                    left: 255px;
                    top: 875px;
                }
                .GaneshGhatti{
                    position: absolute;
                    left: 270px;
                    top: 875px;
                }
                .semi2{
                    position: absolute;
                    left: 255px;
                    top: 900px;
                }
                .phonenumber{
                    position: absolute;
                    left: 270px;
                    top: 900px;
                }
                .emailtext{
                    position: absolute;
                    left: 205px;
                    top: 925px;
                }
                .semi3{
                    position: absolute;
                    left: 255px;
                    top: 925px;
                }
                .emailid{
                    position: absolute;
                    left: 270px;
                    top: 925px;
                }
                .myintrests{
                    font-size: 15px;
                    font-weight: 600;
                    position: absolute;
                    left: 80px;
                    top: 970px;
                }
                .fa-headphones{
                    position: absolute;
                    left: 80px;
                    top: 1015px;
                }
                .music{
                    position: absolute;
                    left: 95px;
                    top: 1015px;
                }
                .fa-chess{
                    position: absolute;
                    left: 150px;
                    top: 1015px;
                }
                .chess{
                    position: absolute;
                    left: 165px;
                    top: 1015px;
                }
                .fa-video{
                    position: absolute;
                    left: 210px;
                    top: 1015px;
                }
                .editing{
                    position: absolute;
                    left: 225px;
                    top: 1015px;
                }
                .fa-bicycle{
                    position: absolute;
                    left: 310px;
                    top: 1015px;
                }
                .cycle{
                    position: absolute;
                    left: 325px;
                    top: 1015px;
                }

            }